<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#/project/baseInfo/{{data.project.pid}}" data-toggle="tab">基本信息</a>
    </li>
    <li>
        <a href="#/project/files/{{data.project.pid}}" data-toggle="tab">文件</a>
    </li>
    <li>
        <a href="#/project/speed/{{data.project.pid}}" data-toggle="tab">进度</a>
    </li>
    <li>
        <a href="#/project/module/{{data.project.pid}}" data-toggle="tab">环节与节点</a>
    </li>
</ul>
<br/>
<div class="tab-content">
    <div class="tab-pane fade in active" id="baseInfo">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{data.project.p_name}} <span
                        class="glyphicon glyphicon-edit pull-right"
                        data-toggle="modal"
                        data-target="#myModal" style="cursor: pointer" title="修改项目"></span>
                </h3>
            </div>
            <div class="panel-body">
                <p>标<span style="margin: 0 7px"></span>的<span style="margin: 0 7px"></span>额: &nbsp;{{data.project.p_money}}万</p>
                <p>对方当事人: &nbsp;{{data.project.p_opposite}}</p>
                <p>第<span style="margin: 0 7px"></span>三<span style="margin: 0 7px"></span>人: &nbsp;{{data.project.p_third}}</p>
                <p>案<span style="margin: 0 3px"></span>情<span style="margin: 0 2px"></span>简<span style="margin: 0 2px"></span>介: &nbsp;{{data.project.p_brief}}</p>
                <p>状<span style="margin: 0 21px"></span>态: &nbsp;{{data.project.status}}</p>
                <p>客<span style="margin: 0 2px"></span>户<span style="margin: 0 2px"></span>目<span style="margin: 0 3px"></span>标: &nbsp;{{data.project.p_goals | splite}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">客户信息
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>名称: &nbsp;{{data.client.u_name}}</p>
                        <p>手机: &nbsp;{{data.client.u_phone}}</p>
                        <p>公司或对接人: &nbsp;{{data.client.u_firm}}</p>
                        <p>职位: &nbsp;{{data.client.u_position}}</p>
                        <p>部门: &nbsp;{{data.client.u_department}}</p>
                        <p>电话: &nbsp;{{data.client.u_tel}}</p>
                        <p>邮箱: &nbsp;{{data.client.u_email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">风控信息
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>名字: &nbsp;{{data.control.c_name}}</p>
                        <p>手机: &nbsp;{{data.control.c_phone}}</p>
                        <p>公司: &nbsp;{{data.control.c_firm}}</p>
                        <p>职位: &nbsp;{{data.control.c_position}}</p>
                        <p>部门: &nbsp;{{data.control.c_department}}</p>
                        <p>电话: &nbsp;{{data.control.c_tel}}</p>
                        <p>邮箱: &nbsp;{{data.control.c_email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">市场信息
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>名字: &nbsp;{{data.sales.s_name}}</p>
                        <p>手机: &nbsp;{{data.sales.s_phone}}</p>
                        <p>公司: &nbsp;{{data.sales.s_firm}}</p>
                        <p>职位: &nbsp;{{data.sales.s_position}}</p>
                        <p>部门: &nbsp;{{data.sales.s_department}}</p>
                        <p>电话: &nbsp;{{data.sales.s_tel}}</p>
                        <p>邮箱: &nbsp;{{data.sales.s_email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    修改项目信息
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <label>项目名称</label>
                    <p><input type="text" class="form-control" placeholder="项目名称" ng-model="data.project.p_name"/></p>
                    <label>标的额</label>
                    <p><input type="text" class="form-control" placeholder="标的额" ng-model="data.project.p_money"/></p>
                    <label>对方当事人</label>
                    <p><input type="text" class="form-control" placeholder="对方当事人" ng-model="data.project.p_opposite"/>
                    </p>
                    <label>第三人</label>
                    <p><input type="text" class="form-control" placeholder="第三人" ng-model="data.project.p_third"/></p>
                    <label>案情简介</label>
                    <p><textarea class="form-control" placeholder="案情简介" ng-model="data.project.p_brief"></textarea></p>
                    <label>客户目标</label>
                    <p ng-repeat="msg in data.project.p_goals | splitArr track by $index" ng-if="data.project.p_goals != ''">
                        <input ng-if="msg != ''" type="text" class="form-control msg" placeholder="客户目标"
                               ng-model="msg"/>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="editInfo()">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>